<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-dark bg-primary">
        <span class="navbar-brand mb-0 h1">Управление заказами</span>
        <a class="btn btn-warning border-dark" th:href="@{/admin}">Личный кабинет</a>
    </nav>
    <br>
        <table class="table caption-top">
            <caption style="font-weight: bold; color: black">Список заказов</caption>
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Дата</th>
                <th scope="col" colspan="2">Товар</th>
                <th scope="col">Количество</th>
                <th scope="col">Цена</th>
                <th scope="col">Статус</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <div th:each="order : ${orders}">
                <tr>
                    <td th:text="${order.getNumber()}"></td>
                    <td th:text="${#temporals.format(order.getDateTime(), 'dd MMMM yyyy')}"></td>
                    <td><img
                            th:src="'/img/' + ${order.getProduct().imagesList[0].getFileName()}" alt="" width="100px">
                    </td>
                    <td class="text-wrap"><a th:href="@{/product/info/{id}(id=${order.getProduct().getId()})}"><p th:text="${order.getProduct().getTitle()}"></p></a></td>
                    <td th:text="${order.getCount()}"></td>
                    <td th:text="${order.getPrice()}"></td>
                    <td th:text="${order.getStatus()}"></td>
                    <td>
                        <a class="btn btn-primary border-dark" role="button"
                           th:href="@{/admin/orders/edit/{id}(id=${order.getId()})}">Изменить статус</a>
                        <br>
                        <a class="btn btn-primary border-dark" role="button"
                           th:href="@{/admin/delete/orders/{id}(id=${order.getId()})}">Удалить</a>
                    </td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
    </body>
    </html>