<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Товары</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-dark bg-primary">
        <span class="navbar-brand mb-0 h1">Управление товарами</span>
        <a class="btn btn-warning border-dark" th:href="@{/admin/product/add}">Добавить товар</a>
        <a class="btn btn-warning border-dark" th:href="@{/admin}">Личный кабинет</a>
    </nav>
    <br>
    <table class="table caption-top">
        <caption style="font-weight: bold; color: black">Список товаров</caption>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col" colspan="2">Товар</th>
            <th scope="col">Описание</th>
            <th scope="col">Категория</th>
            <th scope="col">Цена</th>
            <th scope="col">Склад</th>
            <th scope="col">Поставщик</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <div th:each="product : ${products}">
            <tr>
                <th scope="row" th:text="${product.getId()}"></th>
                <td><img th:src="'/img/' + ${product.imagesList[0].getFileName()}" alt="" width="100px"></td>
                <td class="text-wrap" th:text="${product.getTitle()}"></td>
                <td class="text-wrap" th:text="${product.getDescription()}"></td>
                <td th:text="${product.getCategory().getName()}"></td>
                <td th:text="${product.getPrice()}"></td>
                <td th:text="${product.getWarehouse()}"></td>
                <td th:text="${product.getSeller()}"></td>
                <td>
                    <a class="btn btn-primary border-dark" role="button"
                       th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">Редактировать</a>
                    <br>
                    <a class="btn btn-primary border-dark" role="button"
                       th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">Удалить</a>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
</div>
</body>
</html>