<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-dark bg-primary">
        <span class="navbar-brand mb-0 h1">Управление пользователями</span>
        <a class="btn btn-warning border-dark" role="button" th:href="@{/admin}">Личный кабинет</a>
    </nav>
    <br>

    <table class="table caption-top">
        <caption>Список пользователей</caption>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Логин</th>
            <th scope="col">Пароль</th>
            <th scope="col">Роль</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <div th:each="user : ${users}">
            <tr>
                <th scope="row" th:text="${user.getId()}"></th>
                <td th:text="${user.getLogin()}"></td>
                <td th:text="${user.getPassword()}"></td>
                <td th:text="${user.getRole()}"></td>
                <td>
                    <a class="btn btn-primary border-dark" role="button"
                       th:href="@{/admin/users/edit/{id}(id=${user.getId()})}">Изменить</a>
                    <a class="btn btn-primary border-dark" role="button"
                       th:href="@{/admin/users/delete/{id}(id=${user.getId()})}">Удалить</a>
                </td>
            </tr>
        </div>
        </tbody>
    </table>
</div>
</body>
</html>